
{% extends 'adminhome.html' %}

{% block 'sree' %}

 <center>

     <h4 style="font-family: 'Times New Roman', Times, serif;">{{msg}}</h4><br>
     <h2 style="font-family: 'Times New Roman', Times, serif;">🧑‍💼 SUBADMINS 🧑‍💼</h2><br><br>
     <input class="form-control" id="myInput" type="text" placeholder="Search ..."><br><br>
        <table border="1" style="font-family: 'Times New Roman', Times, serif;">
            <tr bgcolor="lightblue">
                <td><b>AREAID</b></td>
                <td><b>AREA</b></td>
                <td><b>AADHAAR</b></td>
                <td><b>NAME</b></td>
                <td><b>MOBILE</b></td>
                <td><b>SELF ACCOUNT ACCESS</b></td>
                <td><b>ADMIN PRIVILEGE</b></td>
                <td><b>ACTION</b></td>
            </tr>
            {% for i in subadmins %}
            <tr>
                <td>{{i.aid}}</td>
                <td>
                    {%for j in areas %}
                      {% if j.id == i.aid %}
                        {{j.area}}
                      {% endif %}
                    {% endfor %}
                </td>
                <td>{{i.uid}}</td>
                <td>{{i.name}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.flag}}</td>
                <td>{{i.access}}</td>
                <td>
                    <a href="/adenysubadmin/{{i.uid}}">TAKE BACK SUB-ADMIN ACCESS</a><br><br>
                    <a href="/sendnotify/{{i.uid}}">NOTIFY</a><br><br>
                    <a href="/workanalysis/{{i.uid}}">WORK ANALYSIS</a>
                </td>
            </tr>
            {% endfor %}
        </table>
 </center>

    <script>
document.addEventListener("DOMContentLoaded", function() {
    const input = document.getElementById("myInput");
    input.addEventListener("input", filterTable);
});

function filterTable() {
    const filter = document.getElementById("myInput").value.toLowerCase();
    const rows = document.querySelectorAll("tbody tr");
    rows.forEach(row => {
        const cells = row.getElementsByTagName("td");
        let display = "none";
        for (let i = 0; i < cells.length; i++) {
            const cellText = cells[i].textContent || cells[i].innerText;
            if (cellText.toLowerCase().indexOf(filter) > -1) {
                display = "";
                break;
            }
        }
        row.style.display = display;
    });
}
</script>
{% endblock %}