{% extends 'home.html' %}
{% load static %}
{% block 'body' %}
<style>
    body {
        background-image: url("{% static 'images/loginbg4.png' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
<div>
<center>
<br><br>
<h2 style= "font-family: 'Times New Roman', Times, serif;"><b>↪️ LOGIN FORM ↩️ </b></h2><br>
<h2 style= "font-family: 'Times New Roman', Times, serif; color:red">{{msg}}</h2><br>

<form method="post" action="{% url 'login' %}" style= "font-family: 'Times New Roman', Times, serif;">
    {% csrf_token %}
    <label><b>ENTER AADHAAR NUMBER </b></label>
    <input type="number" maxlength="12" minlength="12" required name="id"/><br><br>
    <input type="submit" value="LOGIN" class="button"/>

</form>
</center>
</div>
{% endblock %}