{% extends 'userhome.html' %}

{% block 'user' %}
<center>
   <h4 style="font-family:'Times New Roman', Times, serif; margin-top:1%; margin-bottom:1%; color:red">{{msg}}</h4>
    <h2 style="font-family:'Times New Roman', Times, serif; margin-top:1%; margin-bottom:1%; "><b>&#x1F503; REQUEST TO MODIFY AREA &#x1F503;</b></h2><br>
    <h6 style="font-family:'Times New Roman', Times, serif;  margin-bottom:1%; color:red">NOTE: YOUR REQUEST WILL BE REJECTED IF YOUR PROOFS ARE NOT VALID</h6><br>
     <div class="box">
    <form method="post" action="/editarea1" enctype="multipart/form-data" class="form-control">
        {% csrf_token %}
        <lable>ENTER NEW AREA TO UPDATE</lable><br>
        {% for i in areas %}
        <select name="newarea">
            <option value="{{i.id}}">{{i.area}}</option>
        </select>
        {% endfor %}
        <label>REASON FOR UPDATING AREA</label><br>
        <input type="text" required name="reason" /><br><br>
        <lable>PROOF(ELECTRICITY BILL,GAS BILL,INTERNET BILL,BANK PASSBOOKS,ANY DOCUMENTS..CONTAING UPDATING ADDRESS WITH YOUR NAME)</lable>
        <input type="file" required name="file"/><br><br>
        <input type="submit" value="SEND" class="button" />&nbsp;
        <input type="reset" value="CLEAR"class="button" />
    </form>
    </div>
</center>
{% endblock %}