{% extends 'userhome.html' %}

{% block 'user' %}
<center>
  <h4 style="font-family:'Times New Roman', Times, serif; margin-top:1%; margin-bottom:1%; color:red">{{msg}}</h4>
    <h2 style="font-family:'Times New Roman', Times, serif; margin-top:1%; margin-bottom:1%; "><b>&#x1F503; REQUEST TO MODIFY MOBILE NUMBER &#x1F503;</b></h2><br>
    <h6 style="font-family:'Times New Roman', Times, serif;  margin-bottom:1%; color:red">NOTE: YOUR REQUEST WILL BE REJECTED IF YOUR AADHAAR SUBMITTING DOESN'T CONTAIN MOBILE NUMBER MENTIONING</h6><br>

    <div class="box">
    <form method="post" action="/editmobile" enctype="multipart/form-data" class="form-control">
        {% csrf_token %}
        <lable>ENTER NEW MOBILE NUMBER</lable><br>
        <input type="tel" required name="newph"/><br><br>
        <label>REASON FOR UPDATING MOBILE NUMBER</label><br>
        <input type="text" required name="reason" /><br><br>
        <lable>PROOF(YOUR AADHAR CARD CONTAINING MOBILE NUMBER MENTIONING)</lable>
        <input type="file" required name="file"/><br><br>
        <input type="submit" value="SEND" class="button"/>
        <input type="reset" value="CLEAR" class="button"/>
    </form>
    </div>
</center>
{% endblock %}